<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportCreater.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="payDetailFileName" value="01.债务融资工具缴款明细（北金所提供）.xlsx"/>
    <add key="dailySendFileName" value="{0}完成向清算所发送登记材料.xlsx"/>
    <add key="compDebitThisYear" value="新发行债券今年.xlsx" />
    <add key="compDebitLastYear" value="新发行债券去年.xlsx"/>
    <add key="compDebitThisYearQ" value="新发行债券今年企.xlsx" />
    <add key="compDebitLastYearQ" value="新发行债券去年企.xlsx"/>
    <add key="publishAndCancelFile" value="【{0}】当日披露发行文件及申请取消发行债券信息列表.xlsx"/>
    <add key="总表数值" value="02.总表数值版.xlsx"/>
    <add key="curPath" value=""/>
  </appSettings>
  <userSettings>
    <ReportCreater.Settings1>
      <setting name="curpath" serializeAs="String">
        <value />
      </setting>
    </ReportCreater.Settings1>
  </userSettings>
</configuration>